vim/.vim/undodir/
vim/.vim/plugged/
vim/.vim/.netrwhist
vim/.vim/lib/
vim/.vim/autoload/vimproc*
vim/.vim/autoload/plug.vim.old
vim/.vim/plugin/vimproc*
zsh/.zsh/cache/*
zsh/.zsh/cache/*/last-working-dir
zsh/.zsh/CHANGES.md
zsh/.zsh/ZSH_CONFIG_ASSESSMENT.md
mpv/.config/mpv/watch_later
mpd/.config/mpd/password_secret.conf
neovim/.config/nvim/plugged/
neovim/.config/nvim/undodir/
