[submodule "git-prompt"]
	path = git-prompt
	url = git@github.com:milkmiruku/zsh-git-prompt.git
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
[submodule "fasd"]
	path = fasd
	url = git@github.com:clvv/fasd.git 
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git 
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "zsh-completion-generator"]
	path = zsh-completion-generator
	url = https://github.com/RobSis/zsh-completion-generator.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
