[submodule "media-player-widget"]
	path = awesome/.config/awesome/plugins/media-player
	url = https://github.com/macunha1/awesomewm-media-player-widget
	branch = master
[submodule "lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain
	branch = master
[submodule "widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
	branch = master
[submodule "awesome/.config/awesome/tyrannical"]
	path = awesome/.config/awesome/tyrannical
	url = https://github.com/Elv13/tyrannical
[submodule "awesome/.config/awesome/cyclefocus"]
	path = awesome/.config/awesome/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "awesome/.config/awesome/revelation"]
	path = awesome/.config/awesome/revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "awesome/.config/awesome/treetile"]
	path = awesome/.config/awesome/treetile
	url = https://github.com/alfunx/awesome-treetile
[submodule "awesome/.config/awesome/media-player-widget"]
	path = awesome/.config/awesome/media-player-widget
	url = https://github.com/macunha1/awesomewm-media-player-widget
[submodule "awesome/.config/awesome/bling"]
	path = awesome/.config/awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "awesome/.config/awesome/collision"]
	path = awesome/.config/awesome/collision
	url = https://github.com/Elv13/collision
[submodule "awesome/.config/awesome/awesome-switcher"]
	path = awesome/.config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher
[submodule "awesome/.config/awesome/awesome-workspace-grid"]
	path = awesome/.config/awesome/awesome-workspace-grid
	url = https://github.com/lmanul/awesome-workspace-grid
[submodule "awesome/.config/awesome/battery-widget"]
	path = awesome/.config/awesome/battery-widget
	url = https://github.com/deficient/battery-widget
[submodule "awesome/.config/awesome/gobo"]
	path = awesome/.config/awesome/gobo
	url = https://github.com/gobolinux/gobo-awesome
[submodule "awesome/.config/awesome/thrizen"]
	path = awesome/.config/awesome/thrizen
	url = https://github.com/ciiqr/thrizen
[submodule "somewm"]
	path = somewm
	url = git@github.com:mxmilkiib/somewm-milkii.git
