XTerm*background: black
XTerm*foreground: white
XTerm*scrollBar_right: true


! https://wiki.archlinux.org/index.php/Rxvt-unicode

! Apperence
! URxvt*background: [100]black
URxvt*background: black
URxvt*depth: 32
URxvt*foreground: white

URxvt*transparent: false
! URxvt*shading: 18

URxvt*scrollBar_right: true

! Default shell
URxvt*shell: /bin/zsh

! Term name
!XTerm*termName: xterm-256color
!XTerm*termName: rxvt-unicode
!Rxvt*termName: rxvt-unicode-256color

! Scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt*scrollstyle:plain

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
! URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! dont scroll back in less (sans -X), etc.
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! needs rxvt-unicode-better-wheel-scrolling
!URxvt.secondaryWheel: 1


! Window icon
!URxvt*iconFile: /usr/share/icons/gnome/scalable/apps/utilities-terminal-symbolic.svg


! Perl scripts
URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,matcher,searchable-scrollback,fullscreen,font-size,clipboard
!url-select

! Bell
URxvt.urgentOnBell: True

! Launch URLs
URxvt.urlLauncher: chromium
!URxvt.matcher.button: 1

URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.underlineURLs:    true

! Alt-F11 fullscreen
urxvt*keysym.M-F11: perl:fullscreen:switch

! Unbreak zsh keys in URxvt
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

! Map Shift-space to an escape char for Vim
URxvt.keysym.S-space:  \033

XTerm*vt100.Translations:       #override\n\
Ctrl <KeyPress> Left   : string("\033[90~")  \n\
Ctrl <KeyPress> Right  : string("\033[91~")  \n

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! :Bind C-0, C-+ and C-= to activate small, medium, and big font size resp.     

! URxvt.font: xft:terminesspowerline:pixelsize=12
!URxvt.font: xft:terminus:pixelsize=12
URxvt.font: xft:terminus:pixelsize=12:antialias=false

! URxvt.keysym.C-0: command:\033]710;-*-dina-medium-r-normal--13-*-*-*-*-*-*-*\007
! URxvt.keysym.C-minus: command:\033]710;-*-dina-medium-r-normal--15-*-*-*-*-*-*-*\007
! URxvt.keysym.C-equal: command:\033]710;-*-dina-medium-r-normal--16-*-*-*-*-*-*-*\007

! URxvt.keysym.C-Up:     perl:font-size:increase
! URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

! Shift ctrl-c
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

URxvt.iso14755: False


! xclock ---------------------------------------------------------------------

xclock*update:            1
xclock*analog:            false
xclock*Foreground:        white
xclock*background:        black
