! Settings for X client programs
! Settings need to be reversed/cleared before behaviour reverts (tbc)

XTerm*background: black
XTerm*foreground: white
XTerm*scrollBar_right: true


! https://wiki.archlinux.org/index.php/Rxvt-unicode

! Default shell
URxvt*shell: /bin/zsh

! Lines buffered
Xterm*saveLines: 400000
URxvt*saveLines: 400000

! Term name
XTerm*termName: xterm-256color
!XTerm*termName: rxvt-unicode
Rxvt*termName: rxvt-unicode-256color


! ! Black + DarkGrey
! *color0:  #000000
! *color8:  #555753
! ! DarkRed + Red
! *color1:  #ff6565
! *color9:  #ff8d8d
! ! DarkGreen + Green
! *color2:  #93d44f
! *color10: #c8e7a8
! ! DarkYellow + Yellow
! *color3:  #eab93d
! *color11: #ffc123
! ! DarkBlue + Blue
! *color4:  #204a87
! *color12: #3465a4
! ! DarkMagenta + Magenta
! *color5:  #ce5c00
! *color13: #f57900
! !DarkCyan + Cyan (both not tango)
! *color6:  #89b6e2
! *color14: #46a4ff
! ! LightGrey + White
! *color7:  #cccccc
! *color15: #ffffff


XTerm*locale: true
XTerm*backarrowKey: false
XTerm*ttyModes: erase ^?

! Apperence
! URxvt*background: [100]black
URxvt*background: black
URxvt*depth: 32
URxvt*foreground: white
URxvt*transparent: false
! URxvt*shading: 18
URxvt*scrollBar_right: true

! Scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt*scrollstyle:plain
! do not scroll with output
URxvt*scrollTtyOutput: true
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: false

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! dont scroll back in less (sans -X), etc.
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
! needs rxvt-unicode-better-wheel-scrolling
!URxvt.secondaryWheel: 1

! Window icon
!URxvt*iconFile: /usr/share/icons/gnome/scalable/apps/utilities-terminal-symbolic.svg

! Ctrl-Shift-c/v copy and paste CLIPBOARD buffer
xterm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)


! Perl scripts
! URxvt.perl-lib: /usr/lib/urxvt/perl/
! URxvt.perl-ext: default,matcher,searchable-scrollback,resize-font,clipboard
URxvt.perl-ext-common: default,matcher,searchable-scrollback,font-size,clipboard,keyboard-select

! Bell
XTerm*bellIsUrgent: true
URxvt.urgentOnBell: true
xterm*visualBell: true
URxvt.visualBell: true

! Launch URLs
!URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.url-launcher: /usr/bin/chrome
URxvt.matcher.button: 1

URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.underlineURLs:    true

! Mouseless selection of text - urxvt-perls
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

! Alt-F11 fullscreen
urxvt*keysym.M-F11: perl:fullscreen:switch

! Map Shift-space to an escape char for Vim
URxvt.keysym.S-space:  \033

! Reduce kerning by 1px
URxvt.letterSpace: 0

XTerm*vt100.Translations:       #override\n\
Ctrl <KeyPress> Left   : string("\033[90~")  \n\
Ctrl <KeyPress> Right  : string("\033[91~")  \n

! Xft.autohint: 0
! Xft.lcdfilter:  lcddefault
! Xft.hintstyle:  hintslight
! Xft.hinting: 0
! Xft.antialias: 0
! Xft.rgba: rgb

! :Bind C-0, C-+ and C-= to activate small, medium, and big font size resp.     


! xterm*font:     *-terminus-medium-*-*-*-16-*
! xterm*font:     *-Fixedsys Excelsior 3.01-L2-medium-*-*-*-16-*
xterm*font:     -*-gohufont-medium-*-*-*-14-*-*-*-*-*-*-*

! URxvt.font: xft:terminesspowerline:pixelsize=12
! URxvt.font: xft:xos4 terminus:size=16
URxvt*font:     -*-gohufont-medium-*-*-*-14-*-*-*-*-*-*-*
! URxvt.font: xft:terminus:pixelsize=12
! URxvt.font: xft:terminus:pixelsize=12:antialias=false

! Reset to regular 16
URxvt.keysym.C-0: command:\033]710;-*-terminus-medium-*-*--16-*-*-*-*-*-*-*\007
! Reset to bolder 16
URxvt.keysym.C-parenright: command:\033]710;-*-terminus-bold-*-*--16-*-*-*-*-*-*-*\007

URxvt.keysym.C-equal:     font-size:increase
URxvt.keysym.C-minus:   font-size:decrease
URxvt.keysym.C-Shift-plus:   font-size:incglobal
URxvt.keysym.C-Shift-underscore: font-size:decglobal

! URxvt.resize-font.smaller: C-minus
! URxvt.resize-font.bigger: C-plus
! URxvt.resize-font.reset: C-S-0
! URxvt.resize-font.show: C-S-question
! URxvt.keysym.C-S-0: perl:resize-font.reset


! Shift ctrl-c
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

URxvt.iso14755: false
URxvt.iso14755_52: false

! Adds single line scrollback with up/down
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007


! xclock ---------------------------------------------------------------------

xclock*update:            1
xclock*analog:            false
xclock*Foreground:        white
xclock*background:        black
